body {
  background-color: #a73c3c; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #5b1a1a;
    color: #fff;
    padding: 10px 20px;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section.menu {
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
p{
  font-family: candara;
  text-align: center;
  background-color: #5e0101cf;
  color: rgb(254, 254, 254);
  width: 500px;
  border-radius: 5px;

}
h2,h1{
  font-family:Century Gothic;
  color: white;
}
li{
  font-family: Gill Sans;
}
.container {
  /* text-align: center;
  margin-left: auto;       alinha au centro da pagina 
  margin-right: auto; */

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: 100px;
  display: flexbox;
  justify-content: center;
  align-items: center; 
}

img {
  max-width: 100%;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
title{
  color: aqua;
}
footer{
  background-color: #5b1a1a;
    color: #fff;
    padding: 100px 100px;
}
#espaguete{
  width: 200px;
  border-radius: 20px;
}